* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat Alternates', sans-serif;
    background: rgb(232,242,254);
    background: radial-gradient(circle, rgba(232,242,254,0.7) 0%, rgba(148,187,233,0.7) 100%);
}

button,
input {
    color: white;
    font-family: 'Montserrat Alternates', sans-serif;;
}

.calculator {
    width: 400px;
    color: white;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgba(110, 171, 242, 0.5);
}

.calculator__keys {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}

.grid-item.calculator__display {
    grid-column-start: 1;
    grid-column-end: 5;
    height: 90px;
    /* border: 1px solid rgba(0, 0, 0, 0.1); */
    padding: 16px;
    font-size: 3rem;
    text-align: right;
    border-radius: 20px 20px 0 0;
    background-color: rgba(256, 256, 256, 0.8);
    color: #3e4557;
}

.grid-item {
    background-color: #484e62;
    border: none;
    padding: 16px;
    font-size: 1.5rem;
    text-align: center;
    /* color: rgba(255,255,255,1); */
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
	position: relative;
	border: 1px solid rgba(255,255,255,0.05); 
}

.grid-item[data-key="plus"],
.grid-item[data-key="minus"],
.grid-item[data-key="times"],
.grid-item[data-key="divide"] {
    background-color: #7a93e5;
}

.grid-item.zero {
    border-radius: 0 0 0 20px;
}

.grid-item.equal {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 6;
    border-radius: 0 0 20px 0;
    background: #3e4557;
}

.grid-item:hover:not(.calculator__display) {
    opacity: 0.7;
    cursor: pointer;
    background: #e98a49;
}

@media screen and (max-width: 400px) {
    .calculator {
        width: 100vw;
        height: 100%;
    }
  }
